
$clr-100 : hsl(217, 19%, 35%);
$clr-200 : hsl(214, 17%, 51%);
$clr-300 : hsl(212, 23%, 69%);
$clr-400 : hsl(210, 46%, 95%);

$ff-100 : 'Manrope', sans-serif;

$fs-100 : 13px ;

$fw-1 : 100; $fw-2 : 200; $fw-3 : 300; $fw-4 : 400; $fw-5 : 500; $fw-6 : 600; $fw-7 : 700; $fw-8 : 800; $fw-9 : 900;

$flx : flex;
$rw : row; $clmn : column;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;



